@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

$background-color: #03396a;
$underlay-color: rgb(3,3,10);
$gold: #f6bd16;
$text-color: white;

$resources: "//drupalprojects.dev/mm/images/";

@mixin transparent($color, $alpha) {
  $rgba: rgba($color, $alpha);
  $ie-hex-str: ie-hex-str($rgba);
  background-color: transparent;
  background-color: $rgba;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str});
  zoom: 1;
}

#lmm_underlay{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:0px;
    z-index:8999;
}
//Borrow a bunch of reset code:
@import "reset";

#lmm_search{
    width:247px; //needs to be here, otherwise the box seems to grow by 1px when clicked
    float:right;
    line-height:normal;
    form{
        input{
            vertical-align:bottom;
            &[type=text]{
                border-radius:15px;
                width:200px;
                padding:0px 6px;
                &:focus{
                    outline:none;
                }
            }
        }
        #lmm_search_submit{
            background-image: url($resources + "btn-search.gif");
            border: solid 0px #000000;
            width:23px;
            height:23px;
            border-radius:2px;
            margin-left:4px;
            cursor:pointer;
        }
    }
}
#lmm_searchops{
    label{
        display:block;
        input{
            cursor:pointer;
            margin-right:10px;
            margin-bottom:2px;//This is to "center" the inputs with the text
        }
    }
}

#lmm{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    z-index:9000;
    background-color: $background-color;
    color:$text-color;
    height:28px;
    a, a:visited, a:active{
        cursor:pointer;
        color:white;
        text-decoration:none;
        &:hover{
            text-decoration:underline;
        }
    }
    ul{
        text-align:center;
        li{
            text-align:left;
            display:inline-block;
            text-align:center;
            padding:0px 5px;
            font-family:"Roboto", Futura, Helvetica, sans-serif;
            text-transform:uppercase;
            font-size:16px;
            height:26px;
            line-height:26px;
            vertical-align:top;
            .lmm_pane_container{
                border-top:white solid 1px;
                display:none;
                position:absolute;
                top:28px;
                left:0;
                width:100%;
                cursor:auto;
                height:0px;
                text-align:left;
                color:white;
                background-color:transparent;
                .lmm_pane{
                    @include transparent($background-color, 1);
                    width:940px;
                    margin-left:auto;
                    margin-right:auto;
                    padding:10px;
                    height:230px;
                    border-left:rgba(255,255,255,0.35) solid 1px;
                    border-right:rgba(255,255,255,0.35) solid 1px;
                }
            }
            &.lmm_toplevel{
                min-width:120px;
                cursor:pointer;
            }
            &.lmm_active{
                color:$gold;
            }
            &#lmm_logo{
                cursor:pointer;
                float:left;
                width:34px;
                height:28px;
                text-align:center;
                min-width:0px;
                border-right: white solid 1px;
                background-position: center center;
                background-repeat: no-repeat;
                background-image: url($resources + 'tinylogo.png');
            }
            #lmm_homes_page{
                float:left;
                margin-top:32px;
                width:170px;
                ul li{
                    display:block;
                    width:96%;
                    a{
                        display:block;
                        width:100%;
                    }
                }
            }
        }
    }
    .lmm_other_pane{
        cursor:default;
        text-align:left;
        display:none;
        background-color: $background-color;
        margin-top:5px;
        border: $text-color solid 1px;
        border-radius:15px;
        padding:9px;
    }
}

#lmm_pane_underlay{
    @include transparent($underlay-color, 0.90);
    width:100%;
    height:0px;
    position:absolute;
    top:29px;
    left:0px;
    z-index:8999;
    border-bottom: white solid 1px;
}

/* These mean that the global stylesheet (this one) applies to IE8
 * if your phone is fancy, it'll get the 'mobile' sheet. Then there's two
 * other sheets for big screens.
 */
@media all and (max-width: 740px){
    @import "mobile";
}
@media all and (max-width: 980px){
    @import "narrow";
}
@media all and (min-width: 1220px){
    @import "wide";
}
