@import url("//fonts.googleapis.com/css?family=Roboto:400,700");

@media only print {
    #lmm{
        display:none;
    }
    #lmm_pane_underlay{
        display:none;
    }
    #lmm_underlay{
        display:none;
    }
}

$background-color: #03396a;
$underlay-color: rgb(3,3,10);
$gold: #f6bd16;
$text-color: white;
$border_blue:#85a3c0;

$resources: "//www.lanecc.edu/custom/mm/images/";

@mixin transparent($color, $alpha) {
  $rgba: rgba($color, $alpha);
//  $ie-hex-str: ie-hex-str($rgba);
  background-color: transparent;
  background-color: $rgba;
//  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str});
  zoom: 1;
}

#lmm_underlay{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:0px;
    z-index:8999;
}
//Borrow a bunch of reset code:
@import "reset";

#lmm{
    div{
        color:$text-color;
    }
    &.hideMobile{
        display:none !important;
    }
    position:absolute;
    top:0;
    left:0;
    width:100%;
    z-index:9000;
    background-color: $background-color;
    color:$text-color;
    height:28px;
    border-bottom:$border_blue solid 1px;
    a, a:visited, a:active{
        cursor:pointer;
        color:white;
        text-decoration:none;
        &:hover{
            text-decoration:underline;
        }
    }
    .lmm_other_pane{
        cursor:default;
        text-align:left;
        display:none;
        background-color: $background-color;
        border: $text-color solid 1px;
        border-radius:15px;
        padding:9px;
        line-height:1.5em;
    }
    .lmm_closer{
        clear: both;
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
        border-top: $background-color solid 1px;
        line-height: 19px;
        cursor: pointer;
        background-color:$background-color;
    }
    .lmm_close_arrow{
        height: 10px;
        width: 1px;
        border-bottom: $background-color solid 8px;
        border-left: transparent solid 10px;
        border-right: transparent solid 10px;
        margin-left: auto;
        margin-right: auto;
        bottom: 0;
        margin-top: -19px;
    }
    #lmm_cats{
        float:left;
        li{
            text-align:left;
            display:inline-block;
            text-align:center;
            padding:0px 5px;
            font-family:"Roboto", Futura, Helvetica, sans-serif;
            text-transform:uppercase;
            font-size:14px;
            height:26px;
            line-height:27px;
            vertical-align:top;
            .lmm_pane_container{
                display:none;
                position:absolute;
                top:28px;
                left:0;
                width:100%;
                cursor:auto;
                height:0px;
                text-align:left;
                background-color:transparent;
                .lmm_pane{
                    border-top:$border_blue solid 1px;
                    background-image:url($resources + "tarp.jpg");
                    position:relative;
                    width:940px;
                    margin-left:auto;
                    margin-right:auto;
                    padding:10px;
                    height:254px;
                    border-left:$border_blue solid 1px;
                    border-right:$border_blue solid 1px;
                    .lmm_col{
                        float:left;
                        h3{
                            border-bottom: $border_blue solid 1px;
                            margin-bottom:5px;
                            line-height:17px;
                            display:inline-block;
                            width:90%;
                            font-weight:bold;
                            color:white;
                        }
                        li{
                            text-transform:none;
                            height:auto;
                            text-align:left;
                            display:list-item;
                            line-height:1.2em;
                            margin-bottom:2px;
                            font-size:1em;
                            &.lmm_space{
                                margin-bottom:1em;
                            }
                        }
                    }
                }
            }
            .lmm_pointer{
                border-left: transparent solid 5px;
                border-right: transparent solid 5px;
                border-bottom: $border_blue solid 8px;
                width: 1px;
                left: 42%;
                top: -7px;
                position: relative;
                display:none;
            }
            &.lmm_toplevel{
                cursor:pointer;
                margin-right:5px;
            }
            &.lmm_active{
                color:$gold;
                background-color: $background-color;
                .lmm_pointer{
                    display:block;
                }
            }
        }
    }

    #lmm_search{
        width:212px; //needs to be here, otherwise the box seems to grow by 1px when clicked
        float:right;
        line-height:normal;
        margin-top:2px;
        form{
            input{
                vertical-align:bottom;
                &[type=text]{
                    font-family: Arial, sans-serif;
                    box-sizing:border-box;
                    height:24px;
                    border-radius:15px;
                    border:1px solid;
                    border-color:#848484 #c1c1c1 #e1e1e1;
                    width:181px;
                    padding:0px 6px;
                    font-size:13px;
                    -moz-box-sizing:border-box;
                    &:focus{
                        outline:none;
                    }
                }
            }
            #lmm_search_submit{
                background-image: url($resources + "sprite.png");
                background-position: 52px 0px;
                border: solid 0px #000000;
                width:23px;
                height:23px;
                border-radius:2px;
                margin-left:2px;
                cursor:pointer;
            }
        }
    }

    #lmm_searchops{
        margin-top:7px;
        margin-right:2px;
        label{
            display:block;
            input{
                cursor:pointer;
                margin-right:10px;
                margin-bottom:2px;//This is to "center" the inputs with the text
            }
        }
    }
    #lmm_homes_page{
        float:left;
        margin-top:32px;
        margin-left:3px;
        width:170px;
        ul li{
            display:block;
            width:96%;
            a{
                display:block;
                width:100%;
            }
        }
    }
    #lmm_logo{
        cursor:pointer;
        float:left;
        width:34px;
        height:28px;
        text-align:center;
        min-width:0px;
        border-right: $border_blue solid 1px;
        background-repeat: no-repeat;
        background-image: url($resources + "sprite.png");
        background-position: -119px 3px;
    }
}

.lmm_moodle{
    width:72px;
    height:31px;
    background-position: 0px 31px;
}

.lmm_mylane{
    width:72px;
    height:31px;
    background-position:76px 31px;
}

.lmm_facebook{
    width:32px;
    height:32px;
    background-position:0px 0px;
}

.lmm_twitter{
    width:32px;
    height:32px;
    background-position:-32px 0px;
}

.lmm_youtube{
    width:32px;
    height:32px;
    background-position:-64px 0px;
}

.lmm_sprite{
    background-image: url($resources + "sprite.png");
    display:inline-block;
}

#lmm_pane_underlay{
    &.hideMobile{
        display:none !important;
    }
    @include transparent($underlay-color, 0.90);
    width:100%;
    height:0px;
    position:absolute;
    top:28px;
    left:0px;
    z-index:8999;
    display:none;
    border-bottom: $border_blue solid 1px;
}

/* These mean that the global stylesheet (this one) applies to IE8
 * if your phone is fancy, it"ll get the "mobile" sheet. Then there"s two
 * other sheets for big screens.
 */
@media all and (max-width: 740px){
    @import "mobile";
}
@media all and (max-width: 980px){
    @import "narrow";
}
@media all and (min-width: 1440px){
    @import "wide";
}
