// 740px and above

#lmm{
    #lmm_cats{
        li{
            font-size: 11.5px;
            .lmm_pane_container{
                .lmm_pane{
                    width: 700px;
                }
            }
        }
    }
    #lmm_search{
        font-size: 13px;
    }
}
