#lmm{
    line-height: 1;
    div, span, strong,
    h3, p, a, em, img,
    form, label, ol, ul, li {
	    font: inherit;
	    font-size: 100%;
	    //margin: 0;
	    padding: 0;
	    vertical-align: baseline;
    }
    ol,
    ul {
	    list-style: none;
    }
}
