extends pane

block variables
    - var pane_title = "About";
    - var class_name = "lmm-about-pane";

block content
    .lmm-col
        h3 Overview
        ul
            li
                a(href="https://www.lanecc.edu/planning/vision-mission-values") Vision, Values &amp; Mission
            li
                a(href="https://www.lanecc.edu/accreditation") Accreditation
            li
                a(href="https://www.lanecc.edu/planning") Planning &amp; Institutional Effectiveness
            li.lmm-space
                a(href="https://www.lanecc.edu/assessment") Assessment
        h3 Maps &amp; Locations
        ul
            li
                a(href="https://map.concept3d.com/?id=780&/map/#!ct/11008,10696") Main Campus
            li
                a(href="https://www.lanecc.edu/aviationacademy") Aviation Academy
            li
                a(href="https://www.lanecc.edu/about-lane/our-locations/cottage-grove-center") Cottage Grove Center
            li
                a(href="https://www.lanecc.edu/dentalclinic/directions") Dental Clinic
            li
                a(href="https://www.lanecc.edu/downtowncenter/downtown-campus-directions") Downtown Campus
            li
                a(href="https://www.lanecc.edu/florence/contact-lcc-florence") Florence Center
    .lmm-col
        h3 
            a(href="https://www.lanecc.edu/leadership") Leadership
        ul
            li
                a(href="https://www.lanecc.edu/leadership/board") Board of Education
            li
                a(href="https://www.lanecc.edu/leadership/president") Office of the President
            li.lmm-space
                a(href="https://www.lanecc.edu/governance") College Governance
            li
                a(href="http://lccef.org/") Classified Union
            li
                a(href="http://lccea.org/") Faculty Union
            li
                a(href="https://www.lanecc.edu/aslcc") Student Government
            li.lmm-space
                a(href="https://www.lanecc.edu/hr/employee-and-labor-relations") Employee &amp; Labor Relations
            li
                a(href="https://www.lanecc.edu/contact", class="lmm-link-button") Contact Lane 
                a(href="https://www.lanecc.edu/azindex", class="lmm-link-button") Lane A-Z
    .lmm-col
        h3 College Operations
        ul
            li
                a(href="https://www.lanecc.edu/copps") Policies &amp; Procedures (COPPS)
            li.lmm-space
                a(href="https://www.lanecc.edu/about-lane/leadership/top-level-organizational-structure") Organizational Chart
            li
                a(href="https://www.lanecc.edu/budget") Budget Office
            li
                a(href="https://www.lanecc.edu/collfin") College Finance
            li
                a(href="https://www.lanecc.edu/hr") Human Resources
            li
                a(href="https://www.lanecc.edu/it") Information Technology
            li
                a(href="https://www.lanecc.edu/ir") Institutional Research
            li
                a(href="https://www.lanecc.edu/mpr") Marketing &amp; Public Relations
            li
                a(href="https://www.lanecc.edu/facilities") Facilities Management &amp; Planning
            li
                a(href="https://www.lanecc.edu/pg") Printing &amp; Graphics
            li
                a(href="https://www.lanecc.edu/psd") Public Safety
