extends pane

block variables
    - var pane_title = "Connections";
    - var class_name = "lmm-connections-pane";

block content
    .lmm-col
        h3 Current Events
        ul
            li
                a(href="https://lanetitans.com") Athletics
            li
                a(href="https://www.lanecc.edu/laneevents") Events Calendar
            li.lmm-space
                a(href="https://www.lanecc.edu/newsroom") Newsroom
        h3 Job &amp; Career
        ul
            li
                a(href="https://jobs.lanecc.edu") Employment at Lane
            li
                a(href="https://www.lanecc.edu/cec") Career Exploration Center
            li
                a(href="https://www.lanecc.emsicc.com/?radius=&region=Oregon") Career Coach
            li
                a(href="https://www.lanecc.edu/pathways") Career Pathways Certificates
            li
                a(href="https://www.lanecc.edu/studentemployment") Student Employment
    .lmm-col
        h3 Community
        ul
            li
                a(href="https://www.lanecc.edu/foundation") Foundation &amp; Alumni
            li
                a(href="https://www.lanecc.edu/hsconnections") High School Connections
            li
                a(href="https://www.lanecc.edu/center") Center for Meeting &amp; Learning
            li
                a(href="https://www.lanecc.edu/ce") Continuing Education
            li
                a(href="https://www.lanecc.edu/longhouse") Longhouse
            li
                a(href="https://www.klcc.org/") KLCC
            li
                a(href="https://www.lanecc.edu/sai") Senior Programming
            li.lmm-space
                a(href="https://lanesbdc.com/") Small Business Development Center
            li
                a(href="https://www.lanecc.edu/cottagegrove") Cottage Grove Center
            li
                a(href="https://www.lanecc.edu/downtowncenter") Downtown Campus
            li
                a(href="https://www.lanecc.edu/florence") Florence Center
    .lmm-col
        h3 Institutes &amp; Initiatives
        ul
            li
                a(href="https://www.lanecc.edu/sustainability") Institute for Sustainable Practices
            li
                a(href="https://blogs.lanecc.edu/guidedpathways/") Guided Pathways
            li.lmm-space
                a(href="https://www.nweei.org/") Northwest Energy Education Institute
        h3
            a(href="https://www.lanecc.edu/employees") Employees
        ul
            li
                a(href="https://www.lanecc.edu/atc") Academic Technology Center
            li
                a(href="https://www.lanecc.edu/hr") Human Resources
            li
                a(href="https://www.lanecc.edu/idservices") Instructional Design Services
            li
                a(href="https://www.lanecc.edu/it/helpdesk") IT Helpdesk

