block variables
li(class="lmm-toplevel " + class_name)
    span.lmm-toplevel-name #{pane_title}
    .lmm-pointer
    .lmm-pane-container(style="height:0;display:none")
        .lmm-pane  
            block content