extends pane

block variables
    - var pane_title = "Programs";
    - var class_name = "lmm-programs-pane";

block content
    .lmm-col.lmm-cc-col
        h3 
            a(href="https://www.lanecc.edu/programs") Career Communities
        ul
            li
                a(href="https://www.lanecc.edu/programs/arts-and-communications") 
                    <svg class="lmm-cc-icon"><use xlink:href="#lmm-arts-icon" /></svg>
                    | Arts and Communications
            li
                a(href="https://www.lanecc.edu/programs/business-and-office-professionals")
                    <svg class="lmm-cc-icon"><use xlink:href="#lmm-business-icon" /></svg>
                    | Business and Office Professionals
            li
                a(href="https://www.lanecc.edu/programs/computer-science-and-information-technology")
                    <svg class="lmm-cc-icon"><use xlink:href="#lmm-csit-icon" /></svg>
                    | Computer Science and Information Technology
            li
                a(href="https://www.lanecc.edu/programs/culinary-hospitality-and-tourism")
                    <svg class="lmm-cc-icon"><use xlink:href="#lmm-culinary-icon" /></svg>
                    | Culinary, Hospitality, and Tourism
            li
                a(href="https://www.lanecc.edu/programs/health-medical-and-fitness")
                    <svg class="lmm-cc-icon"><use xlink:href="#lmm-health-icon" /></svg>
                    | Health, Medical, and Fitness
            li
                a(href="https://www.lanecc.edu/programs/industrial-trades-technology-transportation-and-apprenticeship")
                    <svg class="lmm-cc-icon"><use xlink:href="#lmm-trades-icon" /></svg>
                    | Industrial Trades, Technologies, Transportation, and Apprenticeship
            li
                a(href="https://www.lanecc.edu/programs/science-natural-resources-math-and-engineering")
                    <svg class="lmm-cc-icon"><use xlink:href="#lmm-stem-icon" /></svg>
                    | Science, Natural Resources, Math, and Engineering
            li
                a(href="https://www.lanecc.edu/programs/social-sciences-social-services-and-education")
                    <svg class="lmm-cc-icon"><use xlink:href="#lmm-socsci-icon" /></svg>
                    | Social Sciences, Social Services, and Education
    .lmm-col
        h3 Education for the Community
        ul
            li
                a(href="https://lanecc.edu/ce") Continuing Education    
            li
                a(href="https://lanecc.edu/ctpd") Customized Training &amp; Professional Development
            li
                a(href="https://lanecc.edu/hsconnections") High School Connections
            li
                a(href="http://lanesbdc.com") Small Business Development Center
            li
                a(href="http://ce.lanecc.edu", class="lmm-link-button", style="text-align:center") View Continuing <br> Education Classes
    .lmm-col
        h3 Related Departments
        ul
            li
                a(href="https://lanecc.edu/als") Academic Learning Skills
            li
                a(href="https://lanecc.edu/ct") Career Technical Education
            li
                a(href="https://lanecc.edu/cooped") Cooperative Education
            li
                a(href="https://lanecc.edu/abse") GED &amp; Adult Education (ABSE)
            li
                a(href="https://lanecc.edu/esl") English as a Second Language (ESL)
            li
                a(href="https://lanecc.edu/hsconnections") High School Connections
            li
                a(href="https://lanecc.edu/honors") Honors Program   
            li
                a(href="https://lanecc.edu/international") International Programs
            li
                a(href="https://lanecc.edu/laneonline") Online/Hybrid Courses
            li
                a(href="https://lanecc.edu/sl") Service Learning
            li
                a(href="https://lanecc.edu/wp/women-transition") Women in Transition