extends pane

block title
    | About

block content
    .lmm-col
        h3 Overview
        ul
            li
                a(href="http://lanecc.edu/research/planning/strategic-plan") Vision, Values &amp; Mission
            li
                a(href="http://lanecc.edu/accreditation") Accreditation &amp; Planning
            li
                a(href="http://lanecc.edu/research/planning/strategic-plan") Strategic Planning
            li
                a(href="http://lanecc.edu/assessment") Assessment
        h3 Maps &amp; Locations
        ul
            li
                a(href="https://myatlascms.com/map/index.php?id=780") Main Campus
            li
                a(href="http://lanecc.edu/locations/lane-aviation-academy") Aviation Academy
            li
                a(href="http://lanecc.edu/locations/lcc-cottage-grove") Cottage Grove
            li
                a(href="http://lanecc.edu/dentalclinic/directions") Dental Clinic
            li
                a(href="http://lanecc.edu/locations/downtown-campus") Downtown Campus
            li
                a(href="http://lanecc.edu/locations/lcc-florence") Florence
    .lmm-col
        h3 Leadership
        ul
            li
                a(href="http://lanecc.edu/board") Board of Education
            li
                a(href="http://lanecc.edu/president") Office of the President
            li.lmm-space
                a(href="http://lanecc.edu/asa") Academic &amp; Student Affairs
            li
                a(href="http://lanecc.edu/governance") College Governance
            li
                a(href="http://or.aft.org/") Classified Union
            li
                a(href="http://lccea.org/") Faculty Union
            li
                a(href="http://lanecc.edu/aslcc") Student Government
            li.lmm-space
                a(href="http://lanecc.edu/hr/employee-and-labor-relations") Employee &amp; Labor Relations
            li
                a(href="http://lanecc.edu/contact") Contact Lane
            li
                a(href="http://lanecc.edu/azindex") Lane A-Z
    .lmm-col
        h3 College Operations
        ul
            li
                a(href="http://lanecc.edu/copps") Policies &amp; Procedures (COPPS)
            li.lmm-space
                a(href="http://lanecc.edu/research/ir/lcc-organizational-charts") Organizational Chart
            li
                a(href="http://lanecc.edu/budget") Budget Office
            li
                a(href="http://lanecc.edu/collfin") College Finance
            li
                a(href="http://lanecc.edu/hr") Human Resources
            li
                a(href="http://lanecc.edu/it") Information &amp; Academic Technology
            li
                a(href="http://lanecc.edu/mpr") Marketing &amp; Public Relations
            li
                a(href="http://lanecc.edu/facilities") Facilities Management &amp; Planning
            li
                a(href="http://lanecc.edu/pg") Printing &amp; Graphics
            li
                a(href="http://lanecc.edu/psd") Public Safety
