extends pane

block title
    | Apply &amp; Enroll

block content
    .lmm-col
        h3
            a(href="https://lanecc.edu/apply") Getting Started at Lane
        ul
            li
                a(href="https://lanecc.edu/apply",class="lmm-link-button") Apply Now
                a(href="https://lanecc.edu/admissions/request-information", class="lmm-link-button") Request Info
            li
                a(href="https://lanecc.edu/advising") Academic Advising
            li
                a(href="https://www.lanecc.edu/espanol") Español
            li
                a(href="https://lanecc.edu/esfs/registration") Registration
            li.lmm-space
                a(href="http://mylane.lanecc.edu") myLane
        h3 Money Matters
        ul
            li
                a(href="https://lanecc.edu/esfs/tuition-fees-and-payments") Costs &amp; Payments
            li
                a(href="https://lanecc.edu/finaid") Financial Aid
            li
                a(href="https://lanecc.edu/scholarships") Scholarships
            li
                a(href="https://lanecc.edu/esfs/refunds") Refunds
    .lmm-col
        h3 Planning
        ul
            li
                a(href="https://lanecc.edu/calendars/academic-calendar") Academic Calendar
            li
                a(href="https://lanecc.edu/schedule") Class Schedule
            li
                a(href="https://lanecc.edu/pathways") Career Pathways
            li
                a(href="https://lanecc.edu/collegecatalog") Catalog
            li.lmm-space
                a(href="https://lanecc.edu/collegecatalog/degrees-and-certificates") Degrees &amp; Certificates
        h3 Work College
        ul
            li
                a(href="https://lanecc.edu/cooped") Cooperative Education
            li
                a(href="https://lanecc.edu/ccc") Counseling &amp; Career Center
            li
                a(href="https://lanecc.edu/sl") Service Learning
            li
                a(href="https://lanecc.edu/studentemployment") Student Employment

    .lmm-col
        h3 Resources
        ul
            li
                a(href="http://titanstore.lanecc.edu", class="skip") Bookstore
            li
                a(href="https://lanecc.edu/disability") Center for Accessible Resources
            li
                a(href="https://lanecc.edu/ccc") Counseling &amp; Career Center
            li
                a(href="https://lanecc.edu/esfs") Enrollment Services
            li
                a(href="https://lanecc.edu/studentlife/housing-information") Housing</a> &amp; 
                a(href="http://www.titancourt.com") Titan Court
            li
                a(href="https://lanecc.edu/testing") Testing Office
            li.lmm-space
                a(href="https://lanecc.edu/va") Veterans Services
        h3 The Community&#39;s College
        ul
            li
                a(href="http://ce.lanecc.edu", class="lmm-link-button", style="text-align:center") View Continuing <br> Education Classes
            li
                a(href="https://lanecc.edu/hsconnections") High School Connections

