extends pane

block title
    | Connections

block content
    .lmm-col
        h3 Current Events
        ul
            li
                a(href="http://lanecc.edu/laneevents") Arts &amp; Cultural Events
            li
                a(href="http://www.lanetitans.net") Athletics
            li
                a(href="http://lanecc.edu/laneevents") Events Calendar
            li.lmm-space
                a(href="http://lanecc.edu/newsroom") Newsroom
        h3 Job &amp; Career
        ul
            li
                a(href="http://jobs.lanecc.edu") Employment at Lane
            li
                a(href="http://lanecc.edu/careercenter") Career Center
            li
                a(href="http://lanecc.edu/pathways") Career Pathways
            li
                a(href="http://lanecc.edu/wdd") Workforce Development
    .lmm-col
        h3 Community
        ul
            li
                a(href="http://lanecc.edu/foundation") Foundation &amp; Alumni
            li
                a(href="http://lanecc.edu/hsconnections") High School Connections
            li
                a(href="http://lanecc.edu/center") Center for Meeting &amp; Learning
            li
                a(href="http://lanecc.edu/ce") Continuing Education
            li
                a(href="http://lanecc.edu/longhouse") Longhouse
            li
                a(href="http://klcc.org/") KLCC
            li.lmm-space
                a(href="http://lanesbdc.com") Small Business Development Center
            li
                a(href="http://lanecc.edu/locations/lcc-cottage-grove") Cottage Grove
            li
                a(href="http://lanecc.edu/locations/downtown-campus") Downtown Campus
            li
                a(href="http://lanecc.edu/locations/lcc-florence") Florence
    .lmm-col
        h3 Institutes &amp; Initiatives
        ul
            li
                a(href="http://lanecc.edu/sustainability") Institute for Sustainable Practices
            li
                a(href="http://www.nweei.org/") Northwest Energy Education Institute
            li
                a(href="http://lanecc.edu/peacecenter") Peace Center
            li
                a(href="http://lanecc.edu/sai") Successful Aging Institute
            li
                a(href="https://blogs.lanecc.edu/achievingthedream/") Achieving the Dream (ATD)
            li
                a(href="http://blogs.lanecc.edu/studentsuccess") Student Success
