a(class="lmm-hidden-label", href="#skip-lmm") Skip the Lane Megamenu
.lmm-container
    .lmm
        .lmm-logo
            <svg viewbox="0 0 70 70" aria-label="Return to a Lane homepage"><use xlink:href="#lmm-logo" /></svg>
            .lmm-homes-pane.lmm-side-pane(style="display:none")
                ul
                    li
                        a(href="http://lanecc.edu") Home
                    li
                        a(href="http://lanecc.edu/students") Current Students
                    li
                        a(href="http://lanecc.edu/future") Future Students
                    li
                        a(href="http://lanecc.edu/community") Community
                    li
                        a(href="http://lanecc.edu/employees") Employees
        ul.lmm-cats
            include applyenroll
            include programs
            include engage
            include connections
            include about
        a(href="https://704.thankyou4caring.org/sslpage.aspx?pid=298", class="lmm-gift" aria-label="Make a gift to Lane")
            <svg><use xlink:href="#lmm-gift" /></svg>
        .lmm-search
            form(class="lmm-search-form", name="search-lane-new-home-page", method="get", action="https://www.lanecc.edu/custom/search/", autocomplete="off")
                label(class="lmm-hidden-label lmm-search-label", for="q", style="") Search Lane&#39;s Website
                input(type="text", id="q", name="q", class="lmm-q", placeholder="Search all Lane Websites")
                label.lmm-grouping-label
                    input(type="submit", value="", class="lmm-hidden-label", name="sa")
                    <svg class="lmm-search-button"><use xlink:href="#lmm-search" /></svg>
            .lmm-searchops.lmm_min.lmm-side-pane(style="display:none")
                label(for="lmm-search-web")
                    input(name="dest", type="radio", id="lmm-search-web", checked="checked")
                    span Lane Websites
                label(for="lmm-search-people")
                    input(name="dest", type="radio", id="lmm-search-people")
                    span Campus Directory
                label(for="lmm-search-ce")
                    input(name="dest", type="radio", id="lmm-search-ce")
                    span Continuing Education Classes
    .lmm-pane-underlay(style="height:0px")
        <svg class="lmm-pane-background"><use xlink:href="#lmm-trianglify" /></svg>
        .lmm-closer
            .lmm-close-arrow 
            | Click to Close
    .lmm-underlay(aria-label="Close the Lane Megamenu")
a(class="lmm-hidden-label", id="skip-lmm")