#lmm
    #lmm_logo
        #lmm_homes_page.lmm_other_pane
            ul
                li
                    a(href="http://lanecc.edu") Home
                li
                    a(href="http://lanecc.edu/students") Current Students
                li
                    a(href="http://lanecc.edu/future") Future Students
                li
                    a(href="http://lanecc.edu/community") Community
                li
                    a(href="http://lanecc.edu/employees") Employees
    ul#lmm_cats
        include applyenroll
        include programs
        include studentlife
        include connections
        include about
    #lmm_search
        a(href="http://lanecc.edu/foundation/ways-give")
            #lmm_gift
        form(id="lmm_search_form", name="search_lane_new_home_page", method="get", action="https://www.lanecc.edu/custom/search")
            label(id="lmm_search_label", for="q", style="position:absolute;display:block;top:-9000px;left:-9000px;width:1px;height:1px;") Search Lane&#39;s Website
            input(type="text", name="q", id="lmm_q", placeholder="Search or AskLane")
            input(type="submit", value="", id="lmm_search_submit", name="sa")
        #lmm_searchops.lmm_min.lmm_other_pane
            label(for="lmm_search_web")
                input(name="dest", type="radio", id="lmm_search_web", checked="checked")
                span Lane Website
            label(for="lmm_search_asklane")
                input(name="dest", type="radio", id="lmm_search_asklane")
                span AskLane
            label(for="lmm_search_people")
                input(name="dest", type="radio", id="lmm_search_people")
                span Campus Directory
            label(for="lmm_search_ce")
                input(name="dest", type="radio", id="lmm_search_ce")
                span Continuing Education Classes
#lmm_pane_underlay
#lmm_underlay