li.lmm-toplevel 
    block title
    .lmm-pointer
    .lmm-pane-container
        .lmm-pane
            block content
            .lmm-closer
                .lmm-close-arrow 
                | Click to Close