li.lmm_toplevel 
    block title
    .lmm_pointer
    .lmm_pane_container
        .lmm_pane
            block content
            .lmm_closer
                .lmm_close_arrow 
                | Click to Close