extends pane

block title
    | Programs

block content
    .lmm-col
        h3 Career Communities
        ul
            li
                a(href="https://www.lanecc.edu/programs/arts-and-communications") Arts and Communications
            li
                a(href="https://www.lanecc.edu/programs/business-and-office-professionals") Business and Office Professionals
            li
                a(href="https://www.lanecc.edu/programs/computer-science-and-information-technology") Computer Science and Information Technology
            li
                a(href="https://www.lanecc.edu/programs/culinary-hospitality-and-tourism") Culinary, Hospitality, and Tourism
            li
                a(href="https://www.lanecc.edu/programs/health-medical-and-fitness") Health, Medical, and Fitness
            li
                a(href="https://www.lanecc.edu/programs/industrial-trades-technology-transportation-and-apprenticeship") Industrial Trades, Technologies, Transportation, and Apprenticeship
            li
                a(href="https://www.lanecc.edu/programs/science-natural-resources-math-and-engineering") Science, Natural Resources, Math, and Engineering
            li
                a(href="https://www.lanecc.edu/programs/social-sciences-social-services-and-education") Social Sciences, Social Services, and Education
    .lmm-col


        h3 
            a(href="http://lanecc.edu/ce") Continuing Education
        ul
            li
                a(href="http://lanecc.edu/ctpd") Customized Training &amp; Professional Development
            li
                a(href="http://lanesbdc.com") Small Business Development Center
            li
                a(href="http://lanecc.edu/wdd") Workforce Development
    .lmm-col
        h3 Learning Communities
        ul
            li
                a(href="http://lanecc.edu/als") Academic Learning Skills
            li
                a(href="http://lanecc.edu/ct") Career Technical Education
            li
                a(href="http://lanecc.edu/cooped") Cooperative Education
            li
                a(href="http://lanecc.edu/abse") GED &amp; Adult Education (ABSE)
            li
                a(href="http://lanecc.edu/esl") English as a Second Language (ESL)
            li
                a(href="http://lanecc.edu/hsconnections") High School Connections
            li
                a(href="http://lanecc.edu/honors") Honors Program
            li
                a(href="http://lanecc.edu/sustainability/sustainability-degree-programs") Institute for Sustainable Practices    
            li
                a(href="http://lanecc.edu/international") International Programs
            li
                a(href="http://lanecc.edu/laneonline") Online/Hybrid Courses
            li
                a(href="http://lanecc.edu/wp/women-transition") Women in Transition