extends pane

block title
    | Programs

block content
    .lmm_col
        h3 Programs of Study
        ul
            li
                a(href="http://lanecc.edu/advtech") Advanced Technology
            li
                a(href="http://lanecc.edu/arts") Arts
            li
                a(href="http://lanecc.edu/business") Business
            li
                a(href="http://lanecc.edu/ct") Career Technical Education
            li
                a(href="http://lanecc.edu/cfe") Child &amp; Family Education
            li
                a(href="http://lanecc.edu/cit") Computer Information Technology
            li
                a(href="http://lanecc.edu/culinary") Culinary Arts &amp; Hospitality
            li
                a(href="http://lanecc.edu/hp") Health Professions
            li
                a(href="http://lanecc.edu/healthpe") Health, Physical Education &amp; Athletics
            li
                a(href="http://lanecc.edu/llc") Language, Literature &amp; Communication
    .lmm_col
        ul
            li(style="margin-top:1em")
                a(href="http://lanecc.edu/math") Math
            li
                a(href="http://lanecc.edu/mediaarts") Media Arts
            li
                a(href="http://lanecc.edu/perarts") Music, Dance &amp; Theatre
            li
                a(href="http://lanecc.edu/science") Science
            li
                a(href="http://lanecc.edu/socialscience") Social Science
            li.lmm_space
                a(href="http://lanecc.edu/sustainability/sustainability-degree-programs") Institute for Sustainable Practices
        h3 
            a(href="http://lanecc.edu/ce") Continuing Education
        ul
            li
                a(href="http://lanecc.edu/ets") Employer Training Services
            li
                a(href="http://lanesbdc.com") Small Business Development Center
            li
                a(href="http://lanecc.edu/wdd") Workforce Development
    .lmm_col
        h3
            a(href="http://lanecc.edu/lc") Learning Communities
        ul
            li
                a(href="http://lanecc.edu/als") Academic Learning Skills
            li
                a(href="http://lanecc.edu/ct") Career Technical Education
            li
                a(href="http://lanecc.edu/cooped") Cooperative Education
            li
                a(href="http://lanecc.edu/abse") GED &amp; Adult Education (ABSE)
            li
                a(href="http://lanecc.edu/esl") English as a Second Language (ESL)
            li
                a(href="http://lanecc.edu/hsconnections") High School Connections
            li
                a(href="http://lanecc.edu/honors") Honors Program
            li
                a(href="http://lanecc.edu/international") International Programs
            li
                a(href="http://lanecc.edu/laneonline") Online/Hybrid Courses
            li
                a(href="http://lanecc.edu/wp/women-transition") Women in Transition