extends pane

block title
    | Student Life

block content
    .lmm-col
        h3 Life &amp; Family
        ul
            li
                a(href="https://lanecc.edu/cfe/lcfc") Childcare
            li
                a(href="https://lanecc.edu/ccc") Counseling &amp; Career Center
            li
                a(href="https://lanecc.edu/disability") Center for Accessible Resources
            li
                a(href="https://lanecc.edu/food") Dining on Campus
            li
                a(href="https://lanecc.edu/gec") Gender Equity Center
            li
                a(href="https://lanecc.edu/healthclinic") Health Clinic
            li
                a(href="https://lanecc.edu/studentlife/housing-information") Housing 
                |  &amp; 
                a(href="https://www.titancourt.com") Titan Court
            li
                a(href="https://lanecc.edu/psd") Public Safety
            li
                a(href="https://www.lanecc.edu/studentemployment") Student Employment
            li
                a(href="https://lanecc.edu/facilities/transportation") Transportation
            li
                a(href="https://lanecc.edu/va") Veterans Services
            li
                a(href="https://www.lanecc.edu/gec/women-transition") Women in Transition
    .lmm-col
        h3 
            a(href="https://lanecc.edu/studentlife") Student Life
        ul
            li
                a(href="http://www.lanetitans.com") Athletics
            li
                a(href="https://lanecc.edu/fec") Fitness Center
            li
                a(href="https://lanecc.edu/mcc") Multi-Cultural Center
            li
                a(href="https://lanecc.edu/studentlife/council-clubs") Student Clubs
            li
                a(href="https://lanecc.edu/aslcc") Student Government
            li.lmm-space
                a(href="https://lanecc.edu/mediaarts/torch") The Torch
            li.lmm-space
                a(href="https://mylane.lanecc.edu", class="lmm-link-button") myLane 
                a(href="https://classes.lanecc.edu", class="lmm-link-button") Moodle 
                a(href="https://lanecc.campuslabs.com/engage/", class="lmm-link-button") Engage
            li
                a(href="https://facebook.com/LaneCommunityCollege", title="Visit us on Facebook")
                    <svg viewBox="0 0 448 512" class="lmm-icon"><use xlink:href="#facebook"></use></svg>
                | 
                a(href="https://twitter.com/#!/LaneTitans", title="Visit us on Twitter")
                    <svg viewBox="0 0 448 512" class="lmm-icon"><use xlink:href="#twitter"></use></svg>
                |                
                a(href="https://instagram.com/lanetitans", title="Visit us on Instagram")
                    <svg viewBox="0 0 448 512" class="lmm-icon"><use xlink:href="#instagram"></use></svg>
                |  
                a(href="https://youtube.com/lanecommunitycollegeeugene", title="Visit us on YouTube")
                    <svg viewBox="0 0 448 512"class="lmm-icon"><use xlink:href="#youtube"></use></svg>
    .lmm-col
        h3 
            a(href="http://lanecc.edu/student-resources") Resources
        ul
            li
                a(href="http://titanstore.lanecc.edu", class="skip") Bookstore
            li
                a(href="https://www.lanecc.edu/business/business-resource-center") Business 
                | &amp; 
                a(href="https://www.lanecc.edu/cit/computer-lab") CIT Resource Center
            li
                a(href="https://lanecc.edu/it/computerlabs") Computer Labs
            li
                a(href="https://lanecc.edu/its") Instructional Testing Services
            li
                a(href="http://library.lanecc.edu") Library
            li
                a(href="https://lanecc.edu/math/math-resource-center") Math Resource Center
            li
                a(href="https://lanecc.edu/science/src") Science Resource Center
            li
                a(href="https://lanecc.edu/learningcommons/student-help-desk") Student Help Desk (SHeD)
            li
                a(href="https://lanecc.edu/trio") TRiO Learning Center
            li
                a(href="https://lanecc.edu/tutor") Tutoring Services
            li
                a(href="https://www.lanecc.edu/undocumented-students") Undocumented Students
            li
                a(href="https://lanecc.edu/wc") Writing Center