extends pane

block title
    | Student Life

block content
    .lmm-col
        h3 Life &amp; Family
        ul
            li
                a(href="http://lanecc.edu/cfe/lcfc") Childcare
            li
                a(href="http://lanecc.edu/counseling") Counseling
            li
                a(href="http://lanecc.edu/disability") Center for Accessible Resources
            li
                a(href="http://lanecc.edu/healthclinic") Health Clinic
            li
                a(href="http://lanecc.edu/studentlife/housing-information") Housing 
                |  &amp; 
                a(href="http://www.titancourt.com") Titan Court
            li
                a(href="http://lanecc.edu/mcc") Multi-Cultural Center
            li
                a(href="http://lanecc.edu/psd") Public Safety
            li
                a(href="http://lanecc.edu/careercenter/employment-services") Student Employment
            li
                a(href="http://lanecc.edu/facilities/transportation") Transportation
            li
                a(href="http://lanecc.edu/va") Veterans Services
            li
                a(href="http://lanecc.edu/wp") Women&#39;s Program
    .lmm-col
        h3 
            a(href="http://lanecc.edu/studentlife") Student Life
        ul
            li
                a(href="http://www.lanetitans.net") Athletics
            li
                a(href="http://lanecc.edu/fec") Fitness Center
            li
                a(href="http://lanecc.orgsync.com") OrgSync
            li
                a(href="http://lanecc.edu/ptk") Phi Theta Kappa
            li
                a(href="http://lanecc.edu/studentlife/council-clubs") Student Clubs
            li
                a(href="http://lanecc.edu/aslcc") Student Government
            li.lmm-space
                a(href="http://lanecc.edu/mediaarts/torch") The Torch
            li.lmm-space
                a(href="http://mylane.lanecc.edu", title="myLane")
                    .lmm-mylane.lmm-sprite
                | 
                a(href="http://classes.lanecc.edu", title="Moodle")
                    .lmm-moodle.lmm-sprite
            li
                a(href="http://facebook.com/LaneCommunityCollege", title="Visit us on Facebook")
                    .lmm-facebook.lmm-sprite
                | 
                a(href="http://twitter.com/#!/LaneTitans", title="Visit us on Twitter")
                    .lmm-twitter.lmm-sprite
                | 
                a(href="http://youtube.com/lanetuberscafe", title="Visit us on YouTube")
                    .lmm-youtube.lmm-sprite
                | 
                a(href="http://instagram.com/lanetitans", title="Visit us on Instagram")
                    .lmm-instagram.lmm-sprite
                | 
                a(href="http://lanecc.orgsync.com", title="Check out Clubs on OrgSync") 
                    .lmm-orgsync.lmm-sprite
    .lmm-col
        h3 Resource Centers
        ul
            li
                a(href="http://lanecc.edu/atc") Academic Technology Center (ATC)
            li
                a(href="http://titanstore.lanecc.edu", class="skip") Bookstore
            li
                a(href="http://lanecc.edu/business") Business &amp; CIT Resource Center
            li
                a(href="http://lanecc.edu/it/computerlabs") Computer Labs
            li
                a(href="http://lanecc.edu/learningcommons/its") Instructional Testing Services
            li
                a(href="http://lanecc.edu/library") Library
            li
                a(href="http://lanecc.edu/math/math-resource-center") Math Resource Center
            li
                a(href="http://lanecc.edu/science/src") Science Resource Center
            li
                a(href="http://lanecc.edu/learningcommons/student-help-desk") Student Help Desk (SHeD)
            li
                a(href="http://lanecc.edu/trio") TRiO Learning Center
            li
                a(href="http://lanecc.edu/tutor") Tutoring Services