@keyframes fadeout {
    0% {opacity:1;}
    100% {opacity:0;}
}
.fadeOut {
  animation: fadeout 0.25s linear;
  opacity:0;
}

@keyframes fadein {
    0% {opacity:0;}
    100% {opacity:1;}
}
.fadeIn {
  animation: fadein 0.25s linear;
  opacity:1;
}
