$background-color: #03396a;
$underlay-color: rgb(3, 3, 10);
$gold: #f6bd16;
$white: #fff;
$text-color: #fff;
$border-blue: #85a3c0;

//Breakpoints
$narrow: 790px;
$normal: 940px;
$wide: 1200px;

// General Menu Config
// These are also variables for the JS, so they MUST be px
$menu-bar-height: 34px;

@mixin transparent($color, $alpha) {
  background-color: rgba($color, $alpha);
}
