// This file is strictly for styles which support only the programs pane
$icon-size: 30px;

.lmm-cc-col {
  @include breakpoint($wide){
    &.lmm-col {
      flex: 2;
    }
  }

  .lmm-cc-icon {
    display: none;

    @include breakpoint($wide){
      display: inline-block;
      fill: $white;
      flex: 0 0 $icon-size;
      height: $icon-size;
      margin-right: 1em;
      margin-bottom: 0.6em;
      vertical-align: middle;
      width:  $icon-size;
    }
  }

  @include breakpoint($wide){
    ul {
      column-count: 2;
      display: block;
    }

    a {
      display: flex;
    }
  }
}