// This file is strictly for styles which support only the programs pane
.lmm-cc-col {
  @include breakpoint($wide){
    &.lmm-col {
      flex: 2;
    }
  }

  .lmm-cc-icon {
    display: none;
    fill: $white;
    flex: 0 0 30px;
    width: 30px;
    height: 30px;

    @include breakpoint($wide){
      display: inline-block;
      margin-right: 1em;
      margin-bottom: 4px;
      vertical-align: middle;
    }
  }

  @include breakpoint($wide){
    ul {
      column-count: 2;
      display: block;
    }

    a {
      display: flex;
    }
  }
}