@import url("//static.lanecc.net/fonts/roboto/roboto.css");

@media only print {
  .lmm,
  .lmm-pane-underlay,
  .lmm-underlay {
    display: none;
  }
}

$background-color: #03396a;
$underlay-color: rgb(3, 3, 10);
$gold: #f6bd16;
$text-color: #fff;
$border-blue: #85a3c0;

$resources: '//static.lanecc.net/mm/images/';

@mixin transparent($color, $alpha) {
  $rgba: rgba($color, $alpha);
  background-color: transparent;
  background-color: $rgba;
  zoom: 1;
}

.lmm-underlay {
  height: 0;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 14999;
}

//Borrow a bunch of reset code:
@import 'reset';

.lmm {
  background-color: $background-color;
  border-bottom: $border-blue solid 1px;
  color: $text-color;
  font-family: Roboto, Futura, sans-serif;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 15000;

  div {
    color: $text-color;
  }

  &.hidemobile {
    display: none !important;
  }

  a,
  a:visited,
  a:active {
    color: $text-color;
    cursor: pointer;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .lmm-pane-container {
    background-color: transparent;
    cursor: auto;
    display: none;
    height: 0;
    left: 0;
    position: absolute;
    text-align: left;
    top: 28px;
    width: 100%;
  }

  .lmm-pane {
    background-image: url($resources + 'tarp.jpg');
    border: $border-blue solid 1px;
    border-bottom-style: none;
    height: 254px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    width: 940px;
  }

  .lmm-col {
    float: left;

    h3 {
      border-bottom: $border-blue solid 1px;
      color: $text-color;
      display: inline-block;
      font-weight: bold;
      line-height: 17px;
      margin-bottom: 5px;
      margin-top: 0;
      width: 90%;
    }

    li {
      display: list-item;
      font-size: 1em;
      height: auto;
      line-height: 1.2em;
      margin-bottom: 1px;
      text-align: left;
      text-transform: none;

      &.lmm-space {
        margin-bottom: .8em;
      }
    }
  }
}

.lmm-side-pane {
  background-color: $background-color;
  border: $text-color solid 1px;
  border-radius: 15px;
  cursor: default;
  display: none;
  line-height: 1.5em;
  padding: 9px;
  text-align: left;
}

.lmm-closer {
  background-color: $background-color;
  border-top: $background-color solid 1px;
  bottom: 0;
  clear: both;
  cursor: pointer;
  left: 0;
  line-height: 19px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.lmm-close-arrow {
  border-bottom: $background-color solid 8px;
  border-left: transparent solid 10px;
  border-right: transparent solid 10px;
  bottom: 0;
  height: 10px;
  margin: -19px auto 0;
  width: 1px;
}

.lmm-pointer {
    border-bottom: $border-blue solid 8px;
    border-left: transparent solid 5px;
    border-right: transparent solid 5px;
    display: none;
    left: 42%;
    position: relative;
    top: -7px;
    width: 1px;
  }

.lmm-cats {
  float: left;

  li {
    display: inline-block;
    font-size: 14px;
    height: 26px;
    line-height: 27px;
    padding: 0 5px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;

    .lmm-link-button {
      background: #b38a10;
      background-image: linear-gradient(to bottom, #72add3, #1b5990);
      border: 1px solid #0a3c59;
      border-radius: 6px;
      box-shadow: rgba(0, 0, 0, .4) 0 1px 0, inset rgba(0, 0, 0, .4) 0 1px 0;
      color: $text-color;
      display: inline-block;
      font-size: 110%;
      padding: 7px 10px;
      text-decoration: none;

      &:hover {
        background: #bf9111;
        background: linear-gradient(180deg, #ffc619, #bf9111);
      }
    }

    &.lmm-toplevel {
      cursor: pointer;
      margin: 0 5px 0 0;
    }

    &.lmm-active {
      background-color: $background-color;
      color: $gold;

      .lmm-pointer {
        display: block;
      }
    }
  }
}

.lmm-search {
  float: right;
  line-height: normal;
  margin-top: 2px;
  //is actually 212 + 22 px for the gift icon + 2 px margin
  width: 236px; //needs to be here, otherwise the box seems to grow by 1px when clicked
  
  input {
    vertical-align: bottom;

    &[type=text] {
      background-color: $text-color;
      border: 1px solid;
      border-color: #848484 #c1c1c1 #e1e1e1;
      border-radius: 15px;
      box-sizing: border-box;
      font-family: sans-serif;
      font-size: 13px;
      height: 24px;
      padding: 0 6px;
      width: 181px;

      &:focus {
        outline: none;
      }
    }
  }
}

.lmm-searchops {
  margin-right: 2px;
  margin-top: 7px;

  label {
    display: block;
    font-size: 14px;
    margin-bottom: 3px;

    input {
      cursor: pointer;
      margin-right: 5px;
    }
  }
}

.lmm-homes-page {
  float: left;
  margin-left: 3px;
  margin-top: 32px;
  width: 170px;

  ul {
    margin: 0 5px;
  }
  
  li {
    display: block;
    font-size: 14px;
    width: 96%;

    a {
      display: block;
      width: 100%;
    }
  }
}

.lmm-search-submit {
  background-image: url($resources + 'sprite.png');
  background-position: -136px 0;
  border-radius: 2px;
  border-style: none;
  cursor: pointer;
  height: 23px;
  margin-left: 2px;
  width: 23px;
}

.lmm-logo {
  background-image: url($resources + 'sprite.png');
  background-position: -136px -23px;
  background-repeat: no-repeat;
  border-right: $border-blue solid 1px;
  cursor: pointer;
  float: left;
  height: 28px;
  min-width: 0;
  text-align: center;
  width: 34px;
}

.lmm-moodle {
  background-position: 0 31px;
  height: 31px;
  width: 72px;
}

.lmm-mylane {
  background-position: 0 0;
  height: 31px;
  width: 72px;
}

.lmm-facebook {
  background-position: -72px 0;
  height: 32px;
  width: 32px;
}

.lmm-twitter {
  background-position: -72px 32px;
  height: 32px;
  width: 32px;
}

.lmm-youtube {
  background-position: -104px 0;
  height: 32px;
  width: 32px;
}

.lmm-instagram {
  background-position: -104px 32px;
  height: 32px;
  width: 32px;
}

.lmm-orgsync {
  background-position: -181px 0;
  height: 32px;
  width: 32px;
}

.lmm-gift {
  background-image: url($resources + 'sprite.png');
  background-position: -159px 0;
  background-repeat: no-repeat;
  float: left;
  height: 23px;
  margin-right: 2px;
  width: 22px;
}

.lmm-sprite {
  background-image: url($resources + 'sprite.png');
  display: inline-block;
}

.lmm-pane-underlay {
  @include transparent($underlay-color, .90);
  border-bottom: $border-blue solid 1px;
  display: none;
  height: 0;
  left: 0;
  position: absolute;
  top: 28px;
  width: 100%;
  z-index: 14999;

  &.hidemobile {
    display: none !important;
  }
}

// These mean that the global stylesheet (this one) applies to IE8
// if your phone is fancy, it'll get the "mobile" sheet. Then there's two
// other sheets for big screens.
@media all and (max-width: 720px){
  @import 'mobile';
}
@media all and (max-width: 980px){
  @import 'narrow';
}
@media all and (min-width: 1441px){
  @import 'wide';
}
