@media only print {
  .lmm,
  .lmm-icons,
  .lmm-pane-underlay,
  .lmm-underlay,
  .lmm-container {
    display: none;
  }
}

.lmm-cats,
.lmm-icons,
.lmm-underlay {
  display: none;
}

@import 'bits';
@import 'breakpoint';

.lmm-underlay {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2147483646;
}

.lmm-container {
  @import 'reset';
  @import 'animations';
}

.lmm {
  background-color: $background-color;
  border-bottom: $border-blue solid 1px;
  box-sizing: border-box;
  color: $text-color;
  display: flex;
  font-family: Roboto, Tahoma, sans-serif;
  height: $menu-bar-height;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2147483647;

  div {
    color: $text-color;
  }

  &.hidemobile {
    display: none !important;
  }

  a,
  a:link,
  a:visited,
  a:active {
    color: $text-color;
    cursor: pointer;
    // needs for gainful employment disclosures
    font-size: inherit;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .lmm-col {
    float: left;
    padding: 0 10px;
    width: 230px;

    @include breakpoint($normal) {
      width: 309px;
    }

    @include breakpoint($wide) {
      width: 390px;
    }

    h3 {
      border-bottom: $border-blue solid 1px;
      color: $text-color;
      display: inline-block;
      //this rule is related to a library overide
      font-size: 100% !important; 
      font-weight: bold;
      line-height: 17px;
      margin-bottom: 4px;
      margin-top: 0;
      width: 100%;
    }

    li {
      display: list-item;
      font-size: 1em;
      height: auto;
      line-height: 1.2em;
      list-style-type: none;
      margin-bottom: 1px;
      padding: 0 0 0 5px;
      text-align: left;
      text-transform: none;

      &.lmm-space {
        margin-bottom: .6em;

        @include breakpoint($normal){
          margin-bottom: .8em;
        }
      }
    }
  }
}

.lmm-pane-container {
  background-color: transparent;
  cursor: auto;
  height: 260px;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  text-align: left;
  top: $menu-bar-height;
  width: 100%;

  @include breakpoint($normal) {
    height: 275px;
  }
}

.lmm-pane {
  font-size: 12px;
  height: 259px;
  margin: 0 auto;
  padding: 10px 0;
  position: relative;
  width: 700px;

  @include breakpoint($normal) {
    font-size: 14px;
    height: 274px;
    width: 940px;
  }

  @include breakpoint($wide) {
    width: 1180px;
  }
}

.lmm-side-pane {
  background-color: $background-color;
  border: $text-color solid 1px;
  border-radius: 15px;
  cursor: default;
  line-height: 1.5em;
  opacity: 0;
  padding: 9px;
  text-align: left;

  li {
    margin-bottom: 6px;
  }
}

.lmm-closer {
  background-color: $background-color;
  border-top: $background-color solid 1px;
  bottom: 0;
  clear: both;
  cursor: pointer;
  height: 18px;
  left: 0;
  line-height: 17px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.lmm-close-arrow {
  border-bottom: $background-color solid 8px;
  border-left: transparent solid 10px;
  border-right: transparent solid 10px;
  height: 10px;
  margin: -11px auto 0;
  width: 1px;
}

.lmm-pointer {
  border-bottom: $border-blue solid 8px;
  border-left: transparent solid 5px;
  border-right: transparent solid 5px;
  display: none;
  left: 42%;
  position: relative;
  top: -7px;
  width: 1px;
}

.lmm-cats {
  flex: 1 1 520px;

  @include breakpoint($narrow) {
    display: block;
  }

  li {
    display: inline-block;
    font-size: 12px;
    height: 26px;
    line-height: 27px;
    padding: 0 5px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
  }
}

.lmm-toplevel {
  cursor: pointer;
  font-size: $menu-bar-height /2 !important;
  line-height: $menu-bar-height - 1 !important;
  margin: 0 5px 0 0;
  position: static; //needed for blogs

  &:hover {
    color: $gold;
  }
}

.lmm-active {
  background-color: $background-color;
  color: $gold;

  .lmm-pointer {
    display: block;
  }
}

.lmm-link-button {
  background: #b38a10;
  background-image: linear-gradient(to bottom, #72add3, #0b4980);
  border: 1px solid #0a3c59;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, .4) 0 1px 0, inset rgba(0, 0, 0, .4) 0 1px 0;
  color: $text-color;
  display: inline-block;
  font-size: 110%;
  margin-right: 3px;
  padding: 7px 10px;
  text-decoration: none;

  &:hover {
    background: #bf9111;
    background-image: linear-gradient(180deg, #ffc619, #bf9111);
    text-decoration: none !important;
  }
}

.lmm-search {
  //menubarheight is the width of the search icon
  line-height: normal;
  margin-top: 2px;
  transition: all .5s ease;
  flex: 1;

  @include breakpoint($narrow) {
    flex: 0 0 $menu-bar-height + 180px;
  }
  
  @include breakpoint($normal) {
    font-size: 13px;
  }

  input {
    vertical-align: bottom;
  }
}

.lmm-grouping-label {
  flex: 0 0 $menu-bar-height;
}

input[type='text'].lmm-q {
  background-color: $text-color;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  border-radius: 15px;
  box-sizing: border-box;
  color: #000;
  flex: 1 1 auto;
  font-family: sans-serif;
  font-size: 13px;
  height: $menu-bar-height - 4px;
  margin: 0;
  padding: 0 6px;
  transition: all .5s ease;

  &:focus {
    outline: none;
  }
}

.lmm-searchops {
  margin-right: 2px;
  margin-top: 7px;

  label {
    // moodle requires a color for labels
    color: #fff;
    display: block;
    float: none; //needed for library
    font-size: 15px;
    height: auto; //needed for library
    margin-bottom: 6px;
    width: auto; //needed for library

    input {
      cursor: pointer;
      margin-right: 5px;
    }
  }
}

.lmm-hidden-label {
  display: block;
  height: 1px;
  left: -9000px;
  position: absolute;
  top: -9000px;
  width: 1px;
}

.lmm-homes-pane {
  margin-left: 3px;
  position: top;
  width: 170px;

  ul {
    margin: 0 5px;
  }
  
  li {
    display: block;
    font-size: 15px;
    width: 96%;

    a {
      display: block;
      width: 100%;
    }
  }
}

.lmm-search-form {
  display: flex;
}

.lmm-search-button {
  cursor: pointer;
  fill: $white;
  height: $menu-bar-height - 6px;
  margin: 0 2px;
  width: $menu-bar-height - 6px;
}

.lmm-logo {
  cursor: pointer;
  min-width: 0;
  text-align: center;
  flex: 0 0 $menu-bar-height + 6px;

  svg {
    height: $menu-bar-height - 2px;
    pointer-events: none;
    width: $menu-bar-height + 6px;
  }
}

.lmm-icon {
  fill: $white;
  height: 38px;
  width: 38px;
}

.lmm-gift {
  display: none;
  fill: $white;
  flex: 0 0 $menu-bar-height - 3px;
  margin-right: 2px;

  @include breakpoint($narrow){
    display: inline-block;
  }

  svg {
    height: $menu-bar-height - 3px;
    width: $menu-bar-height - 3px;
  }
}

// Without this, the SVG itself adds some surprise extra height to the page
.lmm-svg {
  display: none;
}

.lmm-pane-underlay {
  @include transparent($underlay-color, .90);
  border-bottom: $border-blue solid 1px;
  height: 260px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: $menu-bar-height;
  width: 100%;

  @include breakpoint($normal) {
    height: 275px;
  }
}
